.App {
  text-align: center;
}
/* input {
  position: absolute;
  background-color: yellow;
} */

.geocoder-icon, .geocoder-icon-close {
  display:none;
}

.map {
  /* box-sizing: border-box; */
  height: 500px;
  min-width: 300px;
  margin-left: -1000px;
  padding: 20px;
  margin-bottom: 40px;
  /* margin-right: 140px; */
  margin-right: 10vw;
  text-align: center;
  /* margin: 0 auto; */
}

@media screen (max-width: 1200px) {
  .map {
    margin-left: 50px;
    margin-right: 0;
  }
}
/* #geocoder-container > div {
    min-width:50%;
    margin-left:25%;
} */

/* .mapboxgl-canvas-container {
  box-sizing: border-box;
  text-align: center;
} */

.mapboxgl-missing-css {
  display: none;
}
.mapboxgl-canvas {
  width: 600px;
}

.suggestions li {
  display: none;
}

.geocoder-icon, .geocoder-icon-close button {
  display: none;
}

/* .mapboxgl-control-container {
  display: none;
} */

h2 {
  color: #45a247;
}

a {
  text-decoration: none;
  color: #1C6B9E;
  font-weight: bold;
}

img .logo {
  width: 380px;
}

img {
  max-width: 60vw;
}

ul {
  padding: 0;
}

p {
  color: #000;
}

input {
  margin: 10px;
}

.middle {
  float: left;
}

.right {
  float: right;
}

.nav-li {
  list-style-type: none;
  text-decoration: none;
  display: inline;
  padding: 2vw;
  margin: 1px;
  background-color: white;
  text-emphasis: center;
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: 3px;
  color: #45a247;
}

.nav-li:hover {
  background-color: #123fa1;
}

.blue {
  color: #1C6B9E;
}

.nav-bar {
  background-color: black;
  color: #45a247;
  padding: 20px 0;
  margin: 0;
}

.nav-bar img {
  height: 80px;
  float: left;
}

.nav-li .right {
  float: right;
}

.event-list {
  display: inline-block;
  border: dashed 1px #000;
  width: 80vw;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.event-list:hover {
  background-color: #d1dff8;
}

.button {
  cursor: pointer;
  color: white;
  background: #5ab14e;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.form {
  border: 1px solid #1C6B9E;
  border-radius: 20px;
  margin: 120px 20vw;
  padding: 30px;
  background: #123fa1;
}

.img-event {
  max-width: 80%;
}
.text-event {
  color: #fff;
}
.home-container {
  width: 95%;
  text-align: center;
}
.home-left {
  display: inline-block;
  width: 45%;
  border: solid 1px black;
  margin-right: 1px;
}
.home-right {
  display: inline-block;
  width: 45%;
  border: solid 1px black;
  margin-left: 1px;
}
.my-event {
  background-color: #123fa1;
  color: #45a247;
}
